a {
  color: black;
  text-decoration: none;
}

.border-pink {
  border-color: pink;
}

.border-orange {
  border-color: orange;
}

.border-purple {
  border-color: purple;
}

.border-light-green {
  border-color: lightgreen;
}

.border-dark-blue {
  border-color: darkblue;
}

.border-sky {
  border-color: skyblue;
}
